In [8]:
import pandas as pd
import numpy as np
# Resetting plotting Defaults
%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [9]:
fb=pd.read_csv("/content/pseudo_facebook.csv")

In [10]:
fb.head()

    userid  age  dob_day  ...  mobile_likes_received  www_likes www_likes_received
0  2094382   14       19  ...                      0          0                  0
1  1192601   14        2  ...                      0          0                  0
2  2083884   14       16  ...                      0          0                  0
3  1203168   14       25  ...                      0          0                  0
4  1733186   14        4  ...                      0          0                  0

[5 rows x 15 columns]

In [11]:
fb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99003 entries, 0 to 99002
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   userid                 99003 non-null  int64
 1   age                    99003 non-null  int64
 2   dob_day                99003 non-null  int64
 3   dob_year               99003 non-null  int64
 4   dob_month              99003 non-null  int64
 5   gender                 98828 non-null  object
 6   tenure                 99001 non-null  float64
 7   friend_count           99003 non-null  int64
 8   friendships_initiated  99003 non-null  int64
 9   likes                  99003 non-null  int64
 10  likes_received         99003 non-null  int64
 11  mobile_likes           99003 non-null  int64
 12  mobile_likes_received  99003 non-null  int64
 13  www_likes              99003 non-null  int64
 14  www_likes_received     99003 non-null  int64
dtypes: float64(1), int64(13), object(1)
memory usage: 11.3+ MB

In [12]:
sum(fb.isnull())

userid                     0
age                        0
dob_day                    0
dob_year                   0
dob_month                  0
gender                   175
tenure                     2
friend_count               0
friendships_initiated      0
likes                      0
likes_received             0
mobile_likes               0
mobile_likes_received      0
www_likes                  0
www_likes_received         0
dtype: int64

In [13]:
df = fb.dropna()
print(df)

        userid  age  ...  www_likes  www_likes_received
0      2094382   14  ...          0                   0
1      1192601   14  ...          0                   0
2      2083884   14  ...          0                   0
3      1203168   14  ...          0                   0
4      1733186   14  ...          0                   0
...        ...  ...  ...        ...                 ...
98998  1268299   68  ...        491                6202
98999  1256153   18  ...          2                2820
99000  1195943   15  ...          0                1092
99001  1468023   23  ...          0                 756
99002  1397896   39  ...          0                2913

[98826 rows x 15 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98826 entries, 0 to 99002
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   userid                 98826 non-null  int64
 1   age                    98826 non-null  int64
 2   dob_day                98826 non-null  int64
 3   dob_year               98826 non-null  int64
 4   dob_month              98826 non-null  int64
 5   gender                 98826 non-null  object
 6   tenure                 98826 non-null  float64
 7   friend_count           98826 non-null  int64
 8   friendships_initiated  98826 non-null  int64
 9   likes                  98826 non-null  int64
 10  likes_received         98826 non-null  int64
 11  mobile_likes           98826 non-null  int64
 12  mobile_likes_received  98826 non-null  int64
 13  www_likes              98826 non-null  int64
 14  www_likes_received     98826 non-null  int64
dtypes: float64(1), int64(13), object(1)
memory usage: 12.1+ MB

In [15]:
from google.colab import files

df.to_csv('edited.csv')
files.download('edited.csv')

In [16]:
fb_data = pd.read_csv("/content/edited.csv")
fb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98826 entries, 0 to 98825
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             98826 non-null  int64
 1   userid                 98826 non-null  int64
 2   age                    98826 non-null  int64
 3   dob_day                98826 non-null  int64
 4   dob_year               98826 non-null  int64
 5   dob_month              98826 non-null  int64
 6   gender                 98826 non-null  object
 7   tenure                 98826 non-null  float64
 8   friend_count           98826 non-null  int64
 9   friendships_initiated  98826 non-null  int64
 10  likes                  98826 non-null  int64
 11  likes_received         98826 non-null  int64
 12  mobile_likes           98826 non-null  int64
 13  mobile_likes_received  98826 non-null  int64
 14  www_likes              98826 non-null  int64
 15  www_likes_received     98826 non-null  int64
dtypes: float64(1), int64(14), object(1)
memory usage: 12.1+ MB

In [17]:
sum(fb_data.isnull())

Unnamed: 0               0
userid                   0
age                      0
dob_day                  0
dob_year                 0
dob_month                0
gender                   0
tenure                   0
friend_count             0
friendships_initiated    0
likes                    0
likes_received           0
mobile_likes             0
mobile_likes_received    0
www_likes                0
www_likes_received       0
dtype: int64